.body{
  background-image: url("fondo.jpeg");
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body_2{
  margin: 30% auto 1%;
  padding: 5%;
  background-color: rgb(204, 204, 204);
  box-shadow: -2px -10px 90px black;
}

.body_3{
  margin: 5% auto 1%;
  padding: 5%;
  background-color: rgb(204, 204, 204);
  box-shadow: -2px -10px 90px black;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
}

#titulo{
  position: absolute;
  bottom: 320px;
  color: white;
  text-align: center;
  font-size: 64px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;
  padding-top: 0.5rem 1rem;
}

#info{
  position: absolute;
  bottom: 50px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  padding-top: 2rem 2rem;
}

#parrafo_inicial {
  background-color: white;
  padding: 5%;
  box-shadow: 0px 0px 90px gray;
}
#titulo2 {
  font-size: large;
  text-align: LEFT;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: bold;
  padding: 20px 20px 0px 20px;
}

.subtitulos {
  font-size: large;
  text-align: LEFT;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  padding: 0px 20px 20px 20px;

}

.parrafo {
  font-size: small;
  background-color: rgb(204, 204, 204);
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  
}

.cuerpo1 {
  font-size: large;
  background-color: #6e9add;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 25px;
}

.cuerpo2 {
  font-size: large;
  background-color: #868cfb;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 25px;
}


.columns {
  display: grid;
  grid-template-columns: auto auto auto;
}

.column {
    width: 100%;
    text-align: center;
}

.contenedor{
  width: 100%;
  position: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 10%;
}
.contenedor figure{
 position:relative;
  height: 300px;
  cursor: pointer;
  width: 300px;
  overflow: hidden;
  border-radius: 6px;
  margin-left: 7%;
  box-shadow: 0px 50px 55px rgba(0,0,0,0.50);
  float: left;
 
}
.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(118, 176, 253, 1.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
 text-align: center;
 
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}
.contenedor figure .capa h3{
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
   margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor figure .capa p{
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.header {
  background: rgb(94, 94, 94);
  color:white;
  padding: 1.5rem 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  position: fixed;
  left:0;
  top: 0;
  right: 0;
  z-index: 1;
}
  .header a {
    color: white;
    text-decoration: none;
  }

.logo {
  letter-spacing: 5px;
  font-size: 2em;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

  .navigation ul li {
    display: inline-block;    
  }

    .navigation ul li a {
      display: block;
      padding: 0.5rem 1rem;
      transition: all 0.2s linear;
      border-radius: 5px;
    }

      .navigation ul li a:hover {
        background: #6e9add;
      }

.continentes {
  position: relative;
  display: inline-block;
  text-align: center;
  max-width: 1000px;
  background-color: #6e9add;
  padding: auto 20%;
  

}

.america {
  position: absolute;
  top: 170px;
  left: 160px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(112, 116, 124);
  padding: 5%;
}
#imgamerica{
  display: none;
  position: absolute;
  top: 170px;
  left: 160px;
}
p.america:hover + #imgamerica{
  display: block;
}

.asia {
  position: absolute;
  top: 70px;
  left: 700px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(112, 116, 124);
}
#imgasia{
  display: none;
  position: absolute;
  top: 70px;
  left: 700px;
}
p.asia:hover + #imgasia{
  display: block;
}

.africa {
  position: absolute;
  top: 160px;
  left: 450px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(112, 116, 124);
}
#imgafrica{
  display: none;
  position: absolute;
  top: 160px;
  left: 450px;
}
p.africa:hover + #imgafrica{
  display: block;
}

.europa {
  position: absolute;
  top: 40px;
  left: 470px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(112, 116, 124);
}
#imgeuropa{
  display: none;
  position: absolute;
  top: 40px;
  left: 470px;
}
p.europa:hover + #imgeuropa{
  display: block;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: none;
}



#imgasia{
  display: none
}

#imgeuropa{
  display: none
}

#imgafrica{
  display: none
}



p.two:hover #img2{
  display: block;
}

#efecto_economico {
  background-color:rgb(204, 204, 204);
  padding: 5%;
  margin: auto;
  position: center;
}