.titulo {
  font-size: xxx-large;
  background-color: #83b2fd;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 50px;
  margin: 0%;
}
.parrafo {
  font-size: medium;
  background-color: #c9dcfd;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-style: italic;
  padding: 25px;
}

.cuerpo1 {
  font-size: medium;
  background-color: #6e9add;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
}

.cuerpo2 {
  font-size: medium;
  background-color: #868cfb;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
}


.columns {
  display: grid;
  grid-template-columns: auto auto auto;
}

.column {
    width: 100%;
    text-align: center;
}

.contenedor{
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contenedor figure{
 position:relative;
  height: 300px;
  cursor: pointer;
  width: 300px;
  overflow: hidden;
  border-radius: 6px;
  margin-left: 7%;
  box-shadow: 0px 100px 55px rgba(0,0,0,0.50);
  float: left;
 
}
.contenedor figure img{
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.contenedor figure .capa{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(118, 176, 253, 1.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
 text-align: center;
 
}
.contenedor figure:hover > .capa {
  opacity: 1;
  visibility: visible;
}
.contenedor figure:hover > .capa h3{
  margin-top: 70px;
  margin-bottom: 15px;
}
.contenedor figure:hover > img{
  transform: scale(1.3);
}
.contenedor figure .capa h3{
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
   margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor figure .capa p{
  color: rgb(0, 0, 0);
  font-size: 15px;
  line-height: 1.5;
  width: 100%;
  max-width: 220px;
  margin: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}